In [24]:
import sqlite3
import pandas as pd
import glob
import os

In [2]:
def read_sqlite(file):
    import sqlite3
    from pandas import read_sql_query, read_sql_table

    with sqlite3.connect(file) as dbcon:
        tables = list(read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", dbcon)['name'])
        out = {tbl : read_sql_query(f"SELECT * from {tbl}", dbcon) for tbl in tables}

    return out

In [3]:
df = read_sqlite('data/database.sqlite')

In [4]:
df.keys()

dict_keys(['betfront', 'football_data'])

In [5]:
df['football_data']

,Season,Datetime,Div,Country,League,Referee,HomeTeam,AwayTeam,FTHG,FTAG,...,VCCD,VCCH,VCD,VCH,WHA,WHCA,WHCD,WHCH,WHD,WHH
0,2021,2021-05-31 23:00:00,ARG,Argentina,Primera Division,None,Independiente,Colon Santa FE,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021,2021-05-31 19:00:00,ARG,Argentina,Primera Division,None,Racing Club,Boca Juniors,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021,2021-05-31 02:30:00,USA,USA,MLS,None,Seattle Sounders,Austin FC,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020/2021,2021-05-31 02:15:00,MEX,Mexico,Liga MX,None,Cruz Azul,Santos Laguna,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021,2021-05-31 00:30:00,BRA,Brazil,Serie A,None,Internacional,Sport Recife,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190668,2000/2001,2000-07-29 00:00:00,F2,France,Division 2,None,Ajaccio,Le Mans,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190669,2000/2001,2000-07-29 00:00:00,SC0,Scotland,Premier League,Willie Young,St Mirren,Kilmarnock,0,1,...,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,3.25,2.40
190670,2000/2001,2000-07-28 00:00:00,F1,France,Le Championnat,None,Paris SG,Strasbourg,3,1,...,NaN,NaN,NaN,NaN,6.5,NaN,NaN,NaN,3.70,1.40
190671,2000/2001,2000-07-28 00:00:00,F1,France,Le Championnat,None,Marseille,Troyes,3,1,...,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,3.50,1.45
190672,2000/2001,2000-07-28 00:00:00,F2,France,Division 2,None,Wasquehal,Nancy,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
total_cells = df['football_data'].shape[0] * df['football_data'].shape[1]
total_missing = df['football_data'].isna().sum().sum()
perc_missing = round((total_missing/total_cells) * 100, 2)

perc_missing

66.47

In [7]:
bets = df['betfront']

,YEAR,DATETIME,COUNTRY,COMPETION,MATCH,HOME_OPENING,DRAW_OPENING,AWAY_OPENING,HOME_CLOSING,DRAW_CLOSING,AWAY_CLOSING,HT,FT,TOTAL_FT,HTG1,HTG2,FTG1,FTG2
0,2009,2009-02-11 22:30:00,world,world-cup-2010,Malta - Albania,6.89,3.91,1.59,6.70,3.87,1.59,0:0,0:0,0,0.0,0.0,0,0
1,2009,2009-02-11 23:30:00,world,world-cup-2010,San Marino - Northern Ireland,20.52,8.56,1.16,20.52,8.56,1.16,0:2,0:3,3,0.0,2.0,0,3
2,2009,2009-02-11 23:45:00,world,world-cup-2010,Ireland - Georgia,1.37,4.80,11.04,1.37,4.80,11.04,0:1,2:1,3,0.0,1.0,2,1
3,2009,2009-02-12 04:15:00,world,world-cup-2010,USA - Mexico,1.84,3.37,5.08,1.98,3.25,4.61,1:0,2:0,2,1.0,0.0,2,0
4,2009,2009-02-12 06:30:00,world,world-cup-2010,Costa Rica - Honduras,1.93,3.65,4.43,1.89,3.58,4.50,0:0,2:0,2,0.0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37848,2013,2013-02-25 03:00:00,argentina,primera-b-nacional-2012-2013,Patronato - Ferro,2.02,3.19,4.30,2.11,3.11,4.04,0:0,0:0,0,0.0,0.0,0,0
37849,2013,2013-02-25 03:00:00,argentina,primera-b-nacional-2012-2013,Atl. Tucuman - Defensa y Justicia,1.94,3.35,4.38,1.94,3.35,4.38,0:0,1:2,3,0.0,0.0,1,2
37850,2013,2013-02-26 23:45:00,england,championship-2012-2013,Burnley - Huddersfield,1.97,3.67,4.08,1.75,3.87,5.20,0:0,0:1,1,0.0,0.0,0,1
37851,2013,2013-02-26 23:45:00,england,championship-2012-2013,Leicester - Blackburn,1.68,4.02,5.52,1.69,4.02,5.38,2:0,3:0,3,2.0,0.0,3,0
37852,2013,2013-02-27 00:00:00,england,championship-2012-2013,Bolton - Peterborough,1.74,3.99,4.99,1.67,4.27,5.33,1:0,1:0,1,1.0,0.0,1,0

In [21]:
bets['COMPETION'].unique()

array(['world-cup-2010', 'premier-league-2009', 'tippeligaen-2009',
       'major-league-soccer-2009', 'allsvenskan-2009',
       'veikkausliiga-2009', 'campeonato-brasileiro-2009',
       'campeonato-brasileiro-b-2009', 'champions-league-2009-2010',
       'europa-league-2009-2010', 'super-league-2009-2010',
       'erste-liga-2009-2010', 'bundesliga-2009-2010',
       'superliga-2009-2010', 'gambrinus-liga-2009-2010',
       'ekstraklasa-2009-2010', 'jupiler-league-2009-2010',
       'eredivisie-2009-2010', 'a-league-2009-2010',
       'championship-2009-2010', 'ligue-1-2009-2010',
       '1st-division-2009-2010', 'portuguese-liga-2009-2010',
       'premier-league-2009-2010', 'primera-division-2009-2010',
       'serie-a-2009-2010', 'belgacom-league-2009-2010',
       'adeccoligaen-2009', 'division-1-2009', 'primera-division-2010',
       'premier-league-2010', 'j-league-2010', 'allsvenskan-2010',
       'tippeligaen-2010', 'major-league-soccer-2010',
       'veikkausliiga-2010', 'eerste-divisie-2009-2010',
       'campeonato-brasileiro-b-2010', 'campeonato-brasileiro-2010',
       '2-bundesliga-2009-2010', 'primera-b-nacional-2009-2010',
       'challenge-league-2009-2010', 'champions-league-2010-2011',
       'europa-league-2010-2011', 'erste-liga-2010-2011',
       'gambrinus-liga-2010-2011', 'superliga-2010-2011',
       'super-league-2010-2011', 'bundesliga-2010-2011',
       'primera-division-2010-2011', '1-hnl-2010-2011',
       'jupiler-league-2010-2011', 'nb-i-2010-2011', 'a-league-2010-2011',
       'ekstraklasa-2010-2011', '1st-division-2010-2011',
       'championship-2010-2011', 'eredivisie-2010-2011',
       'primera-b-nacional-2010-2011', 'ligue-1-2010-2011',
       'portuguese-liga-2010-2011', 'premier-league-2010-2011',
       'belgacom-league-2010-2011', 'ligat-ha-al-2010-2011',
       'serie-a-2010-2011', 'euro-2012', 'adeccoligaen-2010',
       'primera-division-2011', 'premier-league-2011', 'j-league-2011',
       'premier-league-2011-2012', 'major-league-soccer-2011',
       'tippeligaen-2011', 'allsvenskan-2011', 'veikkausliiga-2011',
       'eerste-divisie-2010-2011', 'campeonato-brasileiro-b-2011',
       'campeonato-brasileiro-2011', 'prim-b-metropolitana-2010-2011',
       'champions-league-2011-2012', 'europa-league-2011-2012',
       'erste-liga-2011-2012', 'nb-i-2011-2012', 'superliga-2011-2012',
       'super-league-2011-2012', 'bundesliga-2011-2012',
       '1-hnl-2011-2012', 'primera-division-2011-2012',
       'gambrinus-liga-2011-2012', 'ekstraklasa-2011-2012',
       'jupiler-league-2011-2012', 'eredivisie-2011-2012',
       'championship-2011-2012', 'primera-b-nacional-2011-2012',
       'ligue-1-2011-2012', '1st-division-2011-2012',
       'portuguese-liga-2011-2012', 'belgacom-league-2011-2012',
       'ligat-ha-al-2011-2012', 'serie-a-2011-2012', 'a-league-2011-2012',
       'superettan-2011', 'division-1-2011', 'primera-division-2012',
       'premier-league-2012', 'j-league-2012', 'major-league-soccer-2012',
       'tippeligaen-2012', 'allsvenskan-2012', 'veikkausliiga-2012',
       '2-bundesliga-2011-2012', 'campeonato-brasileiro-b-2012',
       'campeonato-brasileiro-2012', 'prim-b-metropolitana-2011-2012',
       'champions-league-2012-2013', 'superliga-2012-2013',
       'super-league-2012-2013', 'premier-league-2012-2013',
       'erste-liga-2012-2013', '1-hnl-2012-2013',
       'primera-division-2012-2013', 'bundesliga-2012-2013',
       'nb-i-2012-2013', 'gambrinus-liga-2012-2013',
       '1st-division-2012-2013', 'jupiler-league-2012-2013',
       'eredivisie-2012-2013', 'ligue-1-2012-2013',
       'primera-b-nacional-2012-2013', 'ekstraklasa-2012-2013',
       'championship-2012-2013', 'portuguese-liga-2012-2013',
       'belgacom-league-2012-2013', 'ligat-ha-al-2012-2013',
       'serie-a-2012-2013', 'a-league-2012-2013', 'division-1-2012',
       'superettan-2012', 'primera-division-2013'], dtype=object)

In [9]:
 bets['DATETIME']

0        2009-02-11 22:30:00
1        2009-02-11 23:30:00
2        2009-02-11 23:45:00
3        2009-02-12 04:15:00
4        2009-02-12 06:30:00
                ...
37848    2013-02-25 03:00:00
37849    2013-02-25 03:00:00
37850    2013-02-26 23:45:00
37851    2013-02-26 23:45:00
37852    2013-02-27 00:00:00
Name: DATETIME, Length: 37853, dtype: object

In [11]:
bets['DATETIME'] = pd.to_datetime(bets['DATETIME'])

In [19]:
bets.loc[bets['DATETIME'].dt.year == 2015]

Empty DataFrame
Columns: [YEAR, DATETIME, COUNTRY, COMPETION, MATCH, HOME_OPENING, DRAW_OPENING, AWAY_OPENING, HOME_CLOSING, DRAW_CLOSING, AWAY_CLOSING, HT, FT, TOTAL_FT, HTG1, HTG2, FTG1, FTG2]
Index: []

In [23]:
final = pd.read_csv('data/archive/final_dataset_with_odds.csv')
final

,Unnamed: 0,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,...,B365A,IWH,IWD,IWA,LBH,LBD,LBA,WHH,WHD,WHA
0,0,2002-08-17,Blackburn,Sunderland,0,0,NH,0,0,0,...,4.333,1.80,3.1,3.80,1.615,3.25,5.00,1.66,3.30,4.50
1,1,2002-08-17,Charlton,Chelsea,2,3,NH,0,0,0,...,2.200,2.90,3.0,2.20,2.800,3.20,2.20,2.75,3.10,2.30
2,2,2002-08-17,Everton,Tottenham,2,2,NH,0,0,0,...,2.750,2.30,3.0,2.70,2.250,3.20,2.75,2.30,3.10,2.75
3,3,2002-08-17,Fulham,Bolton,4,1,H,0,0,0,...,4.333,1.80,3.1,3.80,1.833,3.20,3.75,1.72,3.20,4.33
4,4,2002-08-17,Leeds,Man City,3,0,H,0,0,0,...,4.500,1.70,3.2,4.20,1.615,3.50,4.50,1.66,3.30,4.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,5995,2018-12-15,Watford,Cardiff,3,2,H,20,15,23,...,6.000,1.70,3.8,5.00,1.630,3.99,6.37,1.60,3.90,6.00
5996,5996,2018-12-15,Wolves,Bournemouth,2,0,H,17,25,19,...,4.330,2.00,3.4,3.80,2.020,3.48,4.20,1.95,3.50,4.00
5997,5997,2018-12-16,Brighton,Chelsea,1,2,NH,19,33,22,...,1.500,7.20,4.4,1.45,7.640,4.37,1.51,7.00,4.33,1.47
5998,5998,2018-12-16,Liverpool,Man United,3,1,H,34,28,6,...,6.000,1.65,4.0,5.10,1.530,4.51,6.76,1.52,4.33,6.00
5999,5999,2018-12-16,Southampton,Arsenal,3,2,H,13,35,30,...,1.900,3.75,3.8,1.90,3.870,3.90,1.98,3.90,3.75,1.91

In [46]:
# merging the files
joined_files = os.path.join("data/EPL/", "EPL*.csv")
  
# A list of all joined files is returned
joined_list = glob.glob(joined_files)

In [47]:
joined_list

['data/EPL/EPL2007-2008.csv',
 'data/EPL/EPL2003-2004.csv',
 'data/EPL/EPL2015-2016.csv',
 'data/EPL/EPL2009-2010.csv',
 'data/EPL/EPL2014-2015.csv',
 'data/EPL/EPL2013-2014.csv',
 'data/EPL/EPL2005-2006.csv',
 'data/EPL/EPL2017-2018.csv',
 'data/EPL/EPL2012-2013.csv',
 'data/EPL/EPL2019-2020.csv',
 'data/EPL/EPL2016-2017.csv',
 'data/EPL/EPL2018-2019.csv',
 'data/EPL/EPL2008-2009.csv',
 'data/EPL/EPL2011-2012.csv',
 'data/EPL/EPL2004-2005-clean.csv',
 'data/EPL/EPL2010-2011.csv',
 'data/EPL/EPL2006-2007.csv',
 'data/EPL/EPL2020-2021.csv']

In [48]:
pd.read_csv('data/EPL/EPL2004-2005-clean.csv')

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,B365<2.5,GBAHH,GBAHA,GBAH,LBAHH,LBAHA,LBAH,B365AHH,B365AHA,B365AH
0,E0,14/08/04,Aston Villa,Southampton,2,0,H,2,0,H,...,1.75,1.70,2.05,-0.25,2.02,1.82,-0.50,2.00,1.90,-0.50
1,E0,14/08/04,Blackburn,West Brom,1,1,D,0,1,A,...,1.80,1.77,1.95,-0.50,1.80,2.04,-0.50,1.85,2.05,-0.50
2,E0,14/08/04,Bolton,Charlton,4,1,H,2,0,H,...,1.80,2.00,1.85,-0.25,2.04,1.80,-0.25,2.00,1.90,-0.25
3,E0,14/08/04,Man City,Fulham,1,1,D,1,0,H,...,1.90,1.85,2.00,-0.25,1.78,2.06,-0.25,1.85,2.05,-0.25
4,E0,14/08/04,Middlesbrough,Newcastle,2,2,D,0,1,A,...,1.80,NaN,NaN,NaN,1.94,1.90,-0.25,1.80,2.10,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,15/05/05,Man City,Middlesbrough,1,1,D,0,1,A,...,1.70,2.05,1.67,-0.50,1.76,2.08,-0.25,1.80,2.10,-0.25
376,E0,15/05/05,Newcastle,Chelsea,1,1,D,1,1,D,...,1.70,1.59,2.15,0.50,2.06,1.78,0.25,2.10,1.80,0.25
377,E0,15/05/05,Southampton,Man United,1,2,A,1,1,D,...,1.95,2.05,1.75,-0.25,1.86,1.98,0.00,2.10,1.80,-0.25
378,E0,15/05/05,Tottenham,Blackburn,0,0,D,0,0,D,...,1.95,1.80,2.00,-0.75,1.76,2.08,-0.75,1.85,2.05,-0.75
379,E0,15/05/05,West Brom,Portsmouth,2,0,H,0,0,D,...,1.90,2.00,1.80,-1.00,2.00,1.84,-1.00,2.05,1.85,-1.00

In [49]:
joined_list

['data/EPL/EPL2007-2008.csv',
 'data/EPL/EPL2003-2004.csv',
 'data/EPL/EPL2015-2016.csv',
 'data/EPL/EPL2009-2010.csv',
 'data/EPL/EPL2014-2015.csv',
 'data/EPL/EPL2013-2014.csv',
 'data/EPL/EPL2005-2006.csv',
 'data/EPL/EPL2017-2018.csv',
 'data/EPL/EPL2012-2013.csv',
 'data/EPL/EPL2019-2020.csv',
 'data/EPL/EPL2016-2017.csv',
 'data/EPL/EPL2018-2019.csv',
 'data/EPL/EPL2008-2009.csv',
 'data/EPL/EPL2011-2012.csv',
 'data/EPL/EPL2004-2005-clean.csv',
 'data/EPL/EPL2010-2011.csv',
 'data/EPL/EPL2006-2007.csv',
 'data/EPL/EPL2020-2021.csv']

In [50]:
for x in range(len(joined_list)):
    print(joined_list[x])
    test = pd.read_csv(joined_list[x])
    
    print(test.shape)
    print(test.columns)
    print("*"*20)

data/EPL/EPL2007-2008.csv
(380, 71)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'],
      dtype='object')
********************
data/EPL/EPL2003-2004.csv
(380, 57)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'GBH', 'GBD',
       'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'SOH', 'SOD', 'SOA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'GB>2.5', 'GB<2.5',
       'B365>2.5', 'B365<2.5', 'GBAHH', 'GBAHA', 'GBAH', 'LBAHH', 'LBAHA',
       'LBAH', 'B365AHH', 'B365AHA', 'B365AH'],
      dtype='object')
********************
data/EPL/EPL2015-2016.csv
(380, 65)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH',
       'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5',
       'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH',
       'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')
********************
data/EPL/EPL2009-2010.csv
(380, 71)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'],
      dtype='object')
********************
data/EPL/EPL2014-2015.csv
(381, 68)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'Bb1X2',
       'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU',
       'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh',
       'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')
********************
data/EPL/EPL2013-2014.csv
(380, 68)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'Bb1X2',
       'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU',
       'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh',
       'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')
********************
data/EPL/EPL2005-2006.csv
(380, 68)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA',
       'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH',
       'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA'],
      dtype='object')
********************
data/EPL/EPL2017-2018.csv
(380, 65)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH',
       'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5',
       'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH',
       'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')
********************
data/EPL/EPL2012-2013.csv
(380, 74)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA',
       'PSCH', 'PSCD', 'PSCA'],
      dtype='object')
********************
data/EPL/EPL2019-2020.csv
(380, 106)
Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG',
       ...
       'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH',
       'MaxCAHA', 'AvgCAHH', 'AvgCAHA'],
      dtype='object', length=106)
********************
data/EPL/EPL2016-2017.csv
(380, 65)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH',
       'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5',
       'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH',
       'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')
********************
data/EPL/EPL2018-2019.csv
(380, 62)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA',
       'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD',
       'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA',
       'PSCH', 'PSCD', 'PSCA'],
      dtype='object')
********************
data/EPL/EPL2008-2009.csv
(380, 71)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'],
      dtype='object')
********************
data/EPL/EPL2011-2012.csv
(380, 71)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'],
      dtype='object')
********************
data/EPL/EPL2004-2005-clean.csv
(380, 57)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'GB>2.5', 'GB<2.5',
       'B365>2.5', 'B365<2.5', 'GBAHH', 'GBAHA', 'GBAH', 'LBAHH', 'LBAHA',
       'LBAH', 'B365AHH', 'B365AHA', 'B365AH'],
      dtype='object')
********************
data/EPL/EPL2010-2011.csv
(380, 71)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'],
      dtype='object')
********************
data/EPL/EPL2006-2007.csv
(380, 68)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA',
       'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH',
       'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA'],
      dtype='object')
********************
data/EPL/EPL2020-2021.csv
(184, 106)
Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG',
       ...
       'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH',
       'MaxCAHA', 'AvgCAHH', 'AvgCAHA'],
      dtype='object', length=106)
********************

In [51]:
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)

In [53]:

# Finally, the files are joined
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/07,Aston Villa,Liverpool,1.0,2.0,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,11/08/07,Bolton,Newcastle,1.0,3.0,A,0.0,3.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,11/08/07,Derby,Portsmouth,2.0,2.0,D,1.0,1.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,11/08/07,Everton,Wigan,2.0,1.0,H,1.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,11/08/07,Middlesbrough,Blackburn,1.0,2.0,A,1.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6640,E0,19/01/2021,West Ham,West Brom,2.0,1.0,H,1.0,0.0,H,...,2.08,-1.00,1.88,2.02,1.90,2.03,1.94,2.06,1.89,1.98
6641,E0,19/01/2021,Leicester,Chelsea,2.0,0.0,H,2.0,0.0,H,...,2.01,0.00,2.05,1.85,2.08,1.85,2.09,1.92,2.03,1.84
6642,E0,20/01/2021,Man City,Aston Villa,2.0,0.0,H,0.0,0.0,D,...,2.62,-1.50,1.98,1.95,1.97,1.95,2.00,2.07,1.92,1.95
6643,E0,20/01/2021,Fulham,Man United,1.0,2.0,A,1.0,1.0,D,...,2.15,1.00,1.75,2.05,1.79,2.15,1.90,2.16,1.80,2.09
6644,E0,21/01/2021,Liverpool,Burnley,0.0,1.0,A,0.0,0.0,D,...,2.19,-1.25,1.83,2.10,1.86,2.07,1.86,2.27,1.78,2.13

In [54]:
df['Date'] = pd.to_datetime(df['Date'])